@font-face {
	font-family: Rubik;
	src: url(./assets/font/Rubik-VariableFont_wght.ttf);
}

:root {
	font-size: clamp(16px, 3vw, 3vh);
	font-family: Rubik, Arial, Helvetica, sans-serif;

	color: var(--dark-1);

	/* Color Scheme */
	--light-1: #caf0f8;
	--light-2: #90e0ef;
	--blue-reg: #00b4d8;
	--dark-2: #0077b6;
	--dark-1: #03045e;
}

/* Borders */
.right-border {
	border-right: 2px solid;
	border-image: linear-gradient(to bottom, transparent, transparent, var(--dark-2), transparent, transparent) 1;
}

.no-border {
	border: none;
}

.round {
	border-radius: 1rem;
}

/* Doc */
body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	margin: 0;

	background-color: var(--light-1);
}

header {
	width: 100%;
	background-color: var(--dark-2);

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
}

header #search {
	height: 1rem;

	font-size: .8rem;
	text-align: center;

	border: 3px solid var(--blue-reg);
	background-color: var(--light-1);
}

header #unit {
	margin: 0 1rem;
	width: 1.5rem;
	height: 1.2rem;

	font-size: .8rem;
	font-family: inherit;

	border-color: var(--blue-reg);
	border-style: solid;
	border-radius: 15%;

	background-color: var(--dark-1);
	color: var(--blue-reg);
}

button#unit:hover {
	background-color: var(--light-1);
	border-color: var(--dark-1);
	color: var(--dark-1);
}

header h1 {
	text-align: center;
	color: var(--dark-1);
}

/* Main Content Section */
#content {
	flex-grow: 1;
	width: 80%;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;

	background-color: var(--light-2);
}

/* Current Weather Container */
#current-container {
	margin-top: 1.5rem;
	width: 50%;
	padding: 10px;

	border: 2px solid var(--blue-reg);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
}

/* Current Weather Header */
.current-header {
	/* Span the whole top */
	grid-column: 1 / -1;
	grid-row: 1 / 2;

	display: flex;
	justify-content: space-between;

	font-size: 1.1em;
	border-bottom: 2px solid var(--dark-1);
	margin-bottom: 10px;
}

#current-temp {
	grid-row: 2 / 3;
	grid-column: 1 / 2;

	font-size: 1.3em;
}

#condition.weather-current {
	grid-row: 3 / 4;
	grid-column: 1 / 2;
}

#condition-img-container.weather-current {
	/* Last column - Span all rows except header/top row */
	grid-column: 2 / 3;
	grid-row: 2 / -1;

	display: flex;
	justify-content: center;
	align-items: center;
}

#condition-img-container img {
	height: 100%;
}

.current-header span {
	font-size: .7em;
}

/* 7 Day Forecast */
/* Container holding individual 'day' cards */
#forecast {
	padding: .5rem;
	border: 2px solid var(--blue-reg);
	width: 80%;
	height: 15vw;

	display: flex;
	justify-content: space-between;
}

/* `day` cards */
.day-container {
	text-align: center;

	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.condition-container {
	flex-grow: 2;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

/* All condition imgs */
.condition-container img,
.condition img {
	height: 3rem;
	max-height: 130px;
	max-width: 130px;
}

.day {
	font-size: 1.1em;

	margin-bottom: auto;
}

.temp .high {
	font-weight: bold;
}

.temp .low {
	font-size: .8em;
}

/* Hourly Forecast */
/* Main Container */
#hourly {
	margin-bottom: 1.5rem;
	padding: 0 10px 10px;
	width: 80%;

	display: flex;
	flex-direction: column;

	border: 2px solid var(--blue-reg);
}

.hour {
	width: 100%;

	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-items: center;
	align-items: center;

	border-top: 2px solid var(--dark-1);
}

#hourly .condition {
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;

	text-align: end;
}

footer {
	width: 100%;

	background-color: var(--dark-2);

	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

/* Weather API Link/Img */
footer > a {
	margin: 5px .8rem 0;
	width: fit-content;
	height: fit-content;
}

footer > a img {
	height: 1.5rem;
}

/* My Signature */
#sig {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-size: .8rem;
}

/* GH Img */
#sig a {
	margin: 5px 0;
	height: fit-content;
}

#sig img {
	height: 1.5rem;
	min-height: 25px;

	transform: rotate(-1turn) scale(1);
	transition: .5s;
}

#sig img:hover {
	transform: rotate(1turn) scale(1.15);
	transition: .5s;
}


/* For smaller screens */
@media screen and (max-width: 770px) {
	/* Header */
	header {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr 1fr;
	}

	header h1 {
		margin-bottom: 0;

		grid-column: 1 / -1;
	}

	#search {
		margin-left: 10px;

		grid-column: 1 / 4;
		grid-row: 2 / 3;
	}

	#unit {
		justify-self: end;
	}

	/* Content Section */
	#content {
		width: 100%;
	}

	/* All Content elements */
	#current-container, #forecast, #hourly {
		width: 90%;
		padding: 5px;
	}

	#forecast {
		height: fit-content;
		min-width: fit-content;
	}

	.day-container {
		min-width: 55px;
	}

	.day {
		font-size: 1rem;
	}
}